.pad{
	padding-left: 15px;
	margin-left: 15px;
	padding-right: 15px;
	margin-right:15px;
}
.pad-right{
	padding-right: 15px;
	margin-right:15px;
}

.mar-left{
	margin-left:15px;	
}
.pad-left{
	padding-left: 15px;
	margin-left:15px;	
}
.task-text{
	cursor: pointer;
	color:#666;
	text-decoration: none ;
}
.task-text:hover{
	color:#666;
}
.label-text{
	color:#FFF;
	text-decoration: none;
}
.label-text:hover{
	color:#FFF;
	text-decoration:none;
}

.task-divider{
	border-bottom: 1px solid #efefef;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
.table th, .table td { 
     border-top: none; 
 }